<h2 style="font-size: 24px; margin-top: 15px;">Please click on the <i><strong>"Description" </strong></i>   button to read more about a movie!!!!!</h2>
<br>
<br>
<img src="https://media1.tenor.com/images/eae26e180c3a5aa6015906a9743e3a36/tenor.gif?itemid=11435544" alt="movie-time" style="max-height: 525px; max-width: 500px;" class="img-responsive col-md-4">
<!-- <img src="https://media2.giphy.com/media/gKemIrFvfxqoZ2WiVe/source.gif" alt="movie-time" style="max-height: 525px; max-width: 500px; position:sticky; background-color: lightcoral;" class="img-responsive col-md-4"> -->
