<app-alert *ngIf="confirmSaving" (save)="onConfirmSave()" (cancel)="onCancelSaving()"></app-alert>
<h1 style="text-align: center; font-weight: 500; margin-top: 20px;">"{{ movie.name }}"</h1>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-xs-12">
      <img src="{{movie.imagePath}}" alt="{{movie.name}}" class="img-responsive col-md-4"
        style="max-height: 525px; max-width: 500px; margin-bottom: 20px;" >
    </div>
  </div>
  <div class="row" >
    <div class="col-xs-12" >
      <h2 style="margin-bottom: 5px;"> Rating: <h3 style="display: inline; font-style: italic;">{{movie.rating}}</h3></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 style="margin-bottom: 5px;"> Genre: <h3 style="display: inline; font-style: italic;">{{movie.genre}}</h3></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 style="margin-bottom: 5px;"> Release Year: <h3 style="display: inline; font-style: italic;">{{movie.description.releaseYear}}</h3></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 style="margin-bottom: 5px;">Actors:  <h3 style="display: inline; font-style: italic;">{{movie.description.actors}}</h3></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 style="margin-bottom: 5px;">Plot:  <h3 style="display: inline; font-style: italic;">{{movie.description.plot}}</h3></h2>
    </div>
  </div>
  <br>
  <div class="row">
    <button mat-raised-button color="accent" type="button" (click)="onEdit()" style="margin-right: 20px;">Edit</button>
    <button mat-raised-button color="warn" type="button" (click)="onDelete()">Delete</button>
  </div>
</div>
